$content_background: url('../img/header_background_v1.jpg');

$font_type: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;

$btn_color: #20B2AA;

$btn_font_color: #FFFFFF;

$border_color: #708090;

$body_background: #FFFFFF;

$body_text_color: #000000;

$article_background:#DCDCDC;